#top_banner {
  width: 100%;
  background-color: #ff8a00;
}

#site-nav {
  width: 100%;
  height: 32px;
  border-bottom: 1px solid #dcdcdc;
  background-color: #fff;
  font-size: 12px;
  color: #999;
}
#site-nav .site_left {
  float: left;
  line-height: 32px;
}

.mbshop_new_headtopright {
  float: right;
  display: block;
  width: auto;
  height: 30px;
  margin-right: 15px;
}

.mbshop_new_headtop_content {
  float: left;
  display: block;
  width: auto;
  height: 30px;
  position: relative;
}

.mbshop_new_headtop_menu,
.mbshop_new_headtop_style01,
.new_mbshop_xlwb,
.new_mbshop_wxewm {
  color: #999;
}

.mbshop_new_headtop_menu em {
  height: 3px;
  bottom: -3px;
}

.mbshop_new_headtop_menu em {
  width: 80px;
  height: 10px;
  background-color: #fff;
  bottom: -10px;
  position: absolute;
  z-index: 20;
  left: 0;
}

.mbshop_new_headtop_box {
  display: none;
  position: absolute;
  width: 80px;
  height: auto;
  border: 1px solid #B5B5B5;
  background-color: #fff;
  top: 20px;
  -moz-box-shadow: 0 0 5px #ccc;
  box-shadow: 0 0 5px #ccc;
}

.mbshop_new_headtop_box,
.mbshop_new_searchItemOption_box {
  padding: 5px 10px 10px;
  z-index: 5;
}

.mbshop_new_headtop_style01 {
  float: left;
  margin: 9px 10px 0;
}

.mbshop_new_headtop_menu {
  width: auto;
  height: auto;
  padding: 9px 25px 0 10px;
  float: left;
  display: block;
  background: url(//s.banggo.com/pub7/images/mbshop/veoimg/Veo_mbshop_spirit_pic.png?t=20160603) 64px -35px no-repeat #fff;
  z-index: 10;
  position: relative;
  cursor: pointer;
}

.mbshop_new_headtop_menu em {
  width: 80px;
  height: 10px;
  background-color: #fff;
  bottom: -10px;
  position: absolute;
  z-index: 20;
  left: 0;
}

.mbshop_new_headtop_menu em {
  height: 3px;
  bottom: -3px;
}

.mbshop_new_headtop_con_style_01 {
  width: 61px;
}

.mbshop_new_headtop_box a {
  float: left;
  display: block;
  width: auto;
  clear: left;
  margin-top: 5px;
}

.new_mbshop_xlwb,
.new_mbshop_wxewm {
  width: 24px;
  background: none;
}

.mbshop_new_headtop_con_style_02 {
  width: 140px;
  padding-top: 10px;
}

.new_mbshop_xlwb {
  margin-left: 10px;
}

.new_mbshop_wxewm {
  margin-left: 10px;
}

.new_mbshop_wxewm,
.new_mbshop_xlwb {
  float: left;
  display: block;
  height: 17px;
  margin-top: 9px;
}

.new_mbshop_wxewm_box {
  top: 5px;
}

.new_mbshop_wxewm_box {
  width: 140px;
  height: 140px;
  position: relative;
  z-index: 111;
  display: none;
  top: 11px;
  left: -80px;
}

.mbshop_new_headtop_content:hover .mbshop_new_headtop_box {
  display: block !important;
}

.mbshop_new_headtop_content:hover .mbshop_new_headtop_box a {
  color: #666;
}

.mbshop_new_headtop_content:hover .mbshop_new_headtop_menu {
  border-left: 1px #B5B5B5 solid;
  border-right: 1px #B5B5B5 solid;
  padding: 9px 24px 0 9px;
  background-position: 63px -35px;
  box-shadow: 0 0 5px #ccc;
}

a:hover a {
  color: #666;
}

.new_mbshop_wxewm:hover .new_mbshop_wxewm_box {
  display: block;
}

#header {
  width: 100%;
  height: auto;
  float: left;
}
#header .wrapper {
  padding-top: 5px;
  height: 55px;
  overflow: hidden;
}
#header .wrapper .logo {
  width: 260px;
  margin-top: 5px;
  height: auto;
  margin: 0;
  padding: 0;
  float: left;
  display: block;
}
#header .wrapper .logo a {
  width: 230px;
  height: 55px;
  float: left;
  overflow: hidden;
}
#header .wrapper .logo a img {
  margin-top: -10px;
  margin-left: -23px;
  display: block;
}

.header-mid {
  width: 750px;
  padding-top: 7px;
  height: auto;
  margin: 0;
  padding: 0;
  float: left;
  display: block;
}
.header-mid .search {
  width: 378px;
  margin-top: 12px;
  height: auto;
  margin: 10px 0 0;
  float: left;
  display: block;
}
.header-mid .search .search-content {
  width: 100%;
}

.search-content .search-left {
  position: relative;
  border: 1px #d51819 solid;
  width: 100%;
  height: 32px;
}

.search-content .search-left .search-input {
  width: 285px;
  height: 22px;
  margin-right: 8px;
  padding: 5px 0 5px 5px;
  float: left;
  border: none;
  display: block;
  color: #666;
  line-height: 22px;
}

.search-icon {
  padding: 0 12px;
  margin: 0;
  width: 80px;
  height: 32px;
  line-height: 32px;
  text-align: right;
  font-size: 14px;
  color: #fff;
  background: #d51819;
  float: left;
  display: block;
  border: none;
  cursor: pointer;
}

@font-face {
  font-family: bgweb-iconfont;
  src: url("../fonts/iconfont.woff") format("woff");
}
.iconfont {
  position: absolute;
  right: 48px;
  top: 6px;
  color: #fff;
  cursor: pointer;
  font-family: bgweb-iconfont;
  font-size: 18px;
  font-style: normal;
  color: #ccc;
  display: inline-block;
  height: 18px;
  width: 18px;
  text-decoration: none;
}

.product-list {
  float: right;
  width: 350px;
  margin-top: 20px;
  overflow: hidden;
  height: 15px;
}
.product-list a {
  color: #666;
}

/*# sourceMappingURL=index.css.map */
