@charset "utf-8";
.lf {
    float: left;
}

#header {
    width: 100%;
    h1 {
        width: 220px;
        height: 100px;
        a {
            display: block
        }
    }
}

.zc {
    .title {
        border-bottom: 2px solid #6E6E6E;
        a {
            display: block;
            height: 26px;
            padding-left: 46px;
            font-weight: bold;
            line-height: 26px;
            color: #FFF;
            font-size: 14px;
            background: url(https://passport.banggo.com/CASServer/themes/banggo/images/buttonSkin.png) 0 -450px no-repeat;
        }
    }
    .content {
        margin-top: 10px;
        border: 1px solid #CCC;
        .left {
            position: relative;
            padding-top: 20px;
            float: left;
            width: 743px;
            padding-left: 15px;
            padding-bottom: 30px;
            overflow: hidden;
            background: url(https://passport.banggo.com/CASServer/themes/banggo/images/banggo/repeatYSkin.png) right 0 repeat-y;
            .left-title {
                width: 700px;
                font-size: 14px;
                text-indent: 20px;
                line-height: 30px;
                margin-left: 15px;
                color: #333;
                border-bottom: 1px dotted #E6E6E6;
            }
            form {
                p {
                    position: absolute;
                    font-size: 12px;
                    color: #ff0000;
                    left: 137px;
                    display: none
                }
                .item {
                    width: 700px;
                    padding-top: 25px;
                    overflow: hidden;
                    .text {
                        width: 120px;
                        line-height: 30px;
                        font-size: 14px;
                        color: #666;
                        text-align: right;
                    }
                    .input {
                        .bd {
                            width: 5px;
                            height: 30px;
                            overflow: hidden;
                            background: url(https://passport.banggo.com/CASServer/themes/banggo/images/iconSkin.png) 0 -650px no-repeat;
                        }
                        input {
                            border: 1px solid #ABABAB;
                            width: 240px;
                            height: 28px;
                            line-height: 28px;
                            padding: 0 5px 0 0;
                            margin: 0 10px 0 0;
                            background-position: 0 -700px;
                            background-repeat: repeat-x;
                            background-image: url(https://passport.banggo.com/CASServer/themes/banggo/images/banggo/iconSkin.png);
                        }
                        .third-input {
                            width: 128px
                        }
                        .tips {
                            width: 305px;
                            margin-top: -2px;
                            display: inline-block;
                            color: #999;
                            font-size: 12px
                        }
                    }
                }
            }
        }
    }
}

.third {
    .tips {
        a {
            color: #333
        }
    }
}

.btn {
    background-position: -226px -168px;
    display: inline-block;
    width: 152px;
    height: 34px;
    line-height: 34px;
    background-image: url(https://passport.banggo.com/CASServer/themes/banggo/images/buttons.png);
    background-repeat: no-repeat;
    span {
        display: inline-block;
        text-indent: -9999px;
    }
}

.right {
    width: 219px;
    .index {
        width: 219px;
        height: 320px;
        text-indent: -999999px;
        background: url(https://passport.banggo.com/CASServer/themes/banggo/images/banggo/bgowelcometext.png) 0 0 no-repeat;
    }
}

#footer {
    text-align: center;
    padding-top: 20px;
    font-size: 12px;
    a {
        color: #333;
    }
}